[submodule "deps/livekit-protocol"]
	path = deps/livekit-protocol
	url = https://github.com/livekit/protocol.git
[submodule "deps/esp-protocols"]
	path = deps/esp-protocols
	url = https://github.com/espressif/esp-protocols.git
[submodule "components/srtp"]
	path = components/srtp
	url = https://git@github.com/sepfy/esp_ports
[submodule "deps/libpeer"]
	path = deps/libpeer
	url = https://github.com/sean-der/libpeer
